#wrapper {
  background-color: #02021d;
  position: relative;
}
.inner-box {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}
.overlay-film{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
  opacity: 0;
}
.overlay-film.active{
  z-index: 120;
  opacity: 1;
}

/* 헤더 */
header {
  z-index: 100;
  position: fixed;
}
.header-container {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 100px;
}
.header-contents {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
}
.logo {
  flex-shrink: 0;
}
.logo h1 {
  margin: 0;
  padding: 0;
}
.logo h1 a {
  font-size: 40px;
  font-family: "Alfa Slab One";
  color: #00aeff;
  -webkit-text-stroke: 1px black;
  text-decoration: none;
  font-weight: 800;
}
.header-nav {
  width: 52%;
  height: 100%;
}
.header-nav-list {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.header-nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.header-nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  transition: 0.5s ease;
}
.header-nav-item:hover::before {
  opacity: 1;
}
.header-nav-item:hover a {
  color: #222222;
}
.header-nav-item a {
  color: #fff;
  font-size: 18px;
  z-index: 101;
  font-family: "Pretendard-Regular";
}
.header-util {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-util > span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.header-util a {
  line-height: 100px;
  color: #fff;
  font-size: 18px;
  font-family: "Pretendard-Regular";
}
.header-util button {
  position: absolute;
  background: transparent url("../public/img/mobile/ico_search_btn_m.png") no-repeat center;
  background-size: 20px 20px;
  top: 25%;
  right: 0;
  width: 50px;
  height: 50px;
  display: block;
  border: none;
  cursor: pointer;
  filter: invert(1);
}

/* 검색 박스 */
.search-bar-box {
  padding: 5px;
  border-radius: 5px;
  background-color: #bbbbbb;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  width: 30%;
  height: 40px;
  z-index: 200;
}

.search-bar-box input {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #555555;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}
.search {
  position: absolute;
  background: transparent url("../public/img/mobile/ico_search_btn_m.png") no-repeat center;
  background-size: 20px 20px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
}
.close{
  background: url("../public/img/mobile/ico_close_btn_m.png") no-repeat center;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  filter: invert(1);
  position: absolute;
  right: 0;
  top: -50%;
  cursor: pointer;
}

section {
  margin-bottom: 150px;
}

/* 섹션 1 */
.section-main-bg {
  width: 100%;
  height: 960px;
  background: rgba(0,0,0,0.7) url("../public/img/web/main_bg.png") no-repeat center;
  display: flex;
  text-align: center;
  margin-bottom: 100px;
}
.main-bg-overlay-text {
  font-family: "NotoSans KR";
  font-size: 30px;
  font-weight: 500;
  display: block;
  color: #fff;
  margin: auto;
}
.main-bg-overlay-text span {
  font-family: "Alfa Slab One";
  color: #00aeff;
  -webkit-text-stroke: 2px black;
}

/* 섹션 2,4 공통*/
.section-title {
  margin-bottom: 40px;
}
.section-title h2 {
  font-size: 36px;
  font-family: "NotoSans KR";
  color: #fff;
  margin: 0;
  display: inline-block;
  margin-right: 40px;
}
.section-title span {
  font-size: 16px;
  font-family: "NotoSans KR";
  color: #bbbbbb;
}
.card-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}
.card-item {
  flex: 1 1 calc(25% - 30px);
}
.card-img {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.card-img img:hover{
  transform: scale(1.1);
}
.card-text {
  margin: 0;
  padding: 20px 10px;
  box-sizing: border-box;
}
.card-title {
  display: block;
  font-family: "NotoSans KR";
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.card-disc {
  font-family: "Pretendard-Light";
  font: 16px;
  font-weight: 300;
  color: #fff;
  opacity: 0.7;
}
.btn-section a:hover {
  background-color: #fff;
}
.btn-section a:hover span {
  color: #222222;
}

/* 섹션 2*/
.gallery-item:first-of-type .card-img {
  height: 320px;
}
.gallery-item:nth-of-type(2) .card-img {
  height: 430px;
}
.gallery-item:nth-of-type(3) .card-img {
  height: 260px;
}
.gallery-item:last-of-type .card-img {
  height: 360px;
}
.gallery-link-btn {
  text-align: center;
}
.gallery-link-btn a {
  display: inline-block;
  width: 140px;
  height: 60px;
  border-radius: 15px;
  background-color: #121221;
  border: 1px solid #fff;
  transition: background-color 0.3s ease;
}
.gallery-link-btn span {
  color: #fff;
  line-height: 60px;
  transition: color 0.3s ease;
}

/* 섹션 3*/
.section03 {
  position: relative;
  height: 80vh;
  margin-bottom: 250px;
}
.interview-title h2 {
  display: block;
  color: #fff;
  margin: 0;
}
.interview-title span {
  font-family: "Pretendard-Regular";
  color: yellow;
  font-size: 22px;
  margin-top: 40px;
  display: block;
}
.interview-content p {
  color: #fff;
  opacity: 0.7;
  line-height: 2;
}
.interview-section-sub-bg {
  position: absolute;
  background-color: #564d6f;
  width: 50%;
  height: 100%;
  right: -18%;
  top: 0;
}
.section02-img01 {
  background: url("../public/img/web/section02_content01.png") no-repeat center;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50px;
  right: 10%;
  z-index: 2;
  border: 3px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 19px 38px, rgba(0, 0, 0, 0.5) 0px 15px 12px;
}
.section02-img02 {
  background: url("../public/img/web/section02_content02.png") no-repeat center;
  width: 350px;
  height: 450px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  transform: rotate(10deg);
  border: 3px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 19px 38px, rgba(0, 0, 0, 0.5) 0px 15px 12px;
}
.interview-link-btn {
  margin-top: 40px;
}
.interview-link-btn a {
  display: inline-block;
  width: 140px;
  height: 60px;
  border-radius: 15px;
  background-color: #121221;
  border: 1px solid #fff;
  text-align: center;
  transition: background-color 0.3s ease;
}
.interview-link-btn span {
  color: #fff;
  line-height: 60px;
  transition: color 0.3s ease;
}

/* 섹션 4 */
.section04 {
  margin: 0;
}
.news-link-btn {
  text-align: center;
}
.news-link-btn a {
  display: inline-block;
  width: 140px;
  height: 60px;
  border-radius: 15px;
  background-color: #121221;
  border: 1px solid #fff;
  transition: background-color 0.3s ease;
}
.news-link-btn span {
  color: #fff;
  line-height: 60px;
  transition: color 0.3s ease;
}
